@import "./variables.css";

html {
  scroll-behavior: smooth;
}

.container {
  width: 1920px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: black;
}

.header {
  height: 90px;
}

.header__logo {
  margin-top: 33px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
  margin: 16px 0px 14px 0;
}

.header__list:last-child {
  margin-right: 0;
}

.header__item {
  margin-right: 16px;
}

.header__item:last-child {
  margin-right: 24px;
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 18px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border: none;
  padding: 16px 40px 14px 40px;
  height: 54px;
}

.button-green {
  color: #fff;
  background-color: var(--color-primary);
  margin-right: 16px;
}

.button-outlined {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  background-color: #fff;
}

.button-green-big {
  color: #fff;
  background-color: var(--color-primary);
  width: 270px;
  height: 70px;
}

.button-card {
  background-color: var(--color-secondary);
  width: 100%;
  height: 72px;
  color: white;
}

.button-outlined-big {
  margin-top: 40px;
  width: 270px;
  height: 70px;
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.button-send {
  color: #fff;
  background-color: var(--color-secondary);
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 8px 8px 0 0;
}

/* -------------------------------------------------------------------------- */
/* block "start" */

.start {
  background: url(../images/start__bg.png);
  width: 1920px;
  height: 780px;
}

.start__content {
  padding-top: 202px;
}

.start__headline {
  width: 770px;
  height: 160px;
  color: white;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 40px;
}

.start__desc {
  width: 470px;
  height: 64px;
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* -------------------------------------------------------------------------- */
/* block offerings */

.offerings {
  position: relative;
  height: 1682px;
  width: 1170px;
}

.offerings__shape {
  position: absolute;
  padding-top: 597px;
  padding-left: 39px;
}

.offerings__content {
  margin-left: 575px;
  text-align: center;
  padding-top: 160px;
  width: 770px;
  height: 152px;
  margin-bottom: 60px;
}

.offerings__headline {
  color: var(--color-grey1);
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.offerings__desc {
  color: var(--color-grey2);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.oxalis {
  /* width: 100%; */
  width: 1270px;
  height: 480px;
  margin-left: 375px;
  margin-right: 375px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.oxalis__card {
  width: 370px;
  height: 480px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  margin-right: 30px;
  margin-bottom: 40px;
}
/* ТЕНЬ ПОД БОЛЬШИМ ВОПРОСОМ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.oxalis__desc {
  margin: 24px 24px 24px 24px;
}

.oxalis__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-grey1);
}

.oxalis__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 24px;
}

.oxalis__desc-text {
  width: 322px;
  height: 48px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey1);
  margin-bottom: 24px;
}

.oxalis__line {
  justify-content: center;
  width: 322px;
  margin: 0 auto;
  height: 0px;
  border: 1px solid #ececec;
}

.oxalis__details {
  margin: 24px;
}

/* --------------------------------------------------------- */
/* block statistic */

.statistic {
  background: url(../images/statistic__bg.png);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 696px;
  background-color: #ecf4fd;
}

.statistic__container {
  margin-top: 160px;
  width: 570px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statistic__cursor {
  margin-bottom: 40px;
}

.statistic__headline {
  color: var(--color-grey1);
  font-size: 48px;
  line-height: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}

.statistic__desc {
  color: var(--color-grey2);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

/* ----------------------------------------------- */
/* block capital */

.capital {
  background: url(../images/bg_capital.jpg);
  height: 782px;
}

.capital__content {
  align-self: center;
  padding-top: 180px;
  width: 570px;
  height: 312px;
  padding-bottom: 180px;
}

.capital__headline {
  color: var(--color-grey1);
  font-size: 48px;
  line-height: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}

.capital__desc {
  color: var(--color-grey2);
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* ------------------------------------------------------ */

.footer {
  height: 484px;
  background-color: #ececec;
  display: flex;
}

.footer__container {
  display: flex;
  margin-bottom: 77px;
}

.footer__headline {
  color: var(--color-grey1);
  padding-top: 60px;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer__desc {
  color: var(--color-grey1);
  font-family: inherit;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}

.footer__list-services {
  width: 270px;
  margin-left: 130px;
  margin-top: 60px;
}

.footer__list-about {
  width: 270px;
  margin-top: 60px;
  margin-left: 30px;
}

.footer__list-first-item {
  color: var(--color-grey1);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer__list-item {
  color: var(--color-grey1);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer__button {
  cursor: pointer;
  height: 50px;
  padding-top: 60px;
  padding-left: 50px;
}

.button-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
}

.footer__subscribe {
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__form-subscribe {
  height: 103px;
  width: 370px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

.footer__label {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.footer__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
}

.footer__input-area {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 370px;
  height: 51px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__socialicons {
  display: flex;
  justify-content: flex-end;
}
